.cont {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px; 
    color: black;
    border: 1px solid rgb(244, 236, 236);  
    border-image: linear-gradient(to right,#0f8de8, #fafc94 ) 1;
    display: inline-block; 
    width: 100%; 
}


.home {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.name {
    background: linear-gradient(to right, #0505e1, #05e70d);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4em;
  }
  

